* {
    background-color: #FAF9F6;
    box-sizing: border-box;
}
header {
    font-family: 'Carattere', cursive;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
}
body {
    font-family: 'Playfair Display', serif;
    font-size: 16px;
}
h1 {
    font-size: 45px;
    text-align: center;
    margin: 10px 0 3px 0;
}
#Main-Photo {
    object-fit: cover;
    width: 100%;
    height: auto;
    margin: 0;
}
h2 {
    font-size: 35px;
    font-weight: bold;
    margin: 0;
    text-align: center;
}
.Bio {
    font-family: 'Playfair Display', serif;
    text-align: center;
    width: 900px;
    position: relative;
    margin: auto;
}
.Left-bio {
    text-align: left;
    font-size: 14pt;
}
.Right-bio {
    text-align: right;
    font-size: 14pt;
}
.Left-photos {
    float: left;
    background-size: cover;
    width: 30%;
    height: auto;
    margin: 5px;
}
.Right-photos {
    float: right;
    background-size: cover;
    width: 30%;
    height: auto;
    margin: 5px;
}

a {
    color: inherit;
    text-decoration: none;
}
.pressQuotes {
    width: 85%;
    margin: 12px auto;
    padding-bottom: 25px;
    text-align: center;
}
#nav {
    text-align: center;
}
ul {
    display: flex;
    justify-content: space-around;
    align-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    flex-wrap: wrap;
}
li {
    display: inline;
}
li a {
    display: inline-block;
    font-family: 'Carattere', cursive;
    font-size: 35px;
    text-align: center;
    padding: 14px 16px;
    border: solid 0 1px 0 1px grey;
    width: 20%;
    color: black;
    text-decoration: none;
    margin: 0;
}
li a:hover {
    color: #ef626c;
}
li a:target {
    color: #ef626c;
}
.fullQuote {
    width: 75%;
    margin: 12px auto;
    padding-bottom: 25px;
    text-align: center;
}
.Bio a {
    color: black;
}
.Highlights {
    display: flex;
    width: 100%;
    height: auto;
    position: relative;
}
.Photo-quote {
    display: inline-block;
    vertical-align: top;
    margin: 1rem auto 0 auto;
    text-align: center;
    width: calc(90%/3 - 2rem);
    height: auto;
    object-fit: contain;
}

.photo {
    max-width: 100%;
    height: auto;
}

.Quote-Highlights {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-around;
    align-items: top;
}
.quote {
    margin: 0 auto 0 auto;
    text-align: center;
    width: calc(90%/3 - 2rem);
    height: auto;
    object-fit: contain;
}

footer {
    width: 100%;
    height: 50px;
    text-align: center;
    justify-content: center;
}

footer img {
    display: inline-block;
    max-height: 100%;
    object-fit: contain;
    width: 30px;
}

footer p {
    margin: 5px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 25%;
    max-width: calc(25% - 8px);
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}